h1 h2 h3 {
  font-weight: bold;
}
.bckgrnd h1 {
  font-size: 70px;
  font-weight: bold;
}
.bckgrnd {
  background: url("../images/the-flatiron-building.png") no-repeat center center;
  background-size: cover;
  text-align: center;
  color: white;
}
.nav {
  font-size: 18px;
  color: white;
}
.middle {
  text-align: center;
}
.middle h2{
  font-size: 32px;
}
p {
  font-size: 14px;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color; white;
}
.footer .nav {
  font-size: 11px;
}
body {
  font-family: Helvetica;
}
